.customScrollbar::-webkit-scrollbar {
  width: 5px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: rgba(88, 28, 135, 0.1);
  border-radius: 5px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: rgba(88, 28, 135, 0.2);
  border-radius: 5px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 28, 135, 0.3);
}
